# Process Files for Database Upload

### What This Creates

* CSV files for subsequent conversion to sqlite database.  The output files include 'solvents', 'polymers',  'substances', and 'substancenames', which become the database tables.  

### Rationale

*  Why This?  The information on solvents and polymers is entered manually, with some variations in formats and types of information.  This process creates a uniform set of fields and keys for the database tables.

*  Why Me?  Although there is a tool for csv-to-sqlite conversion, it is easier to use the notebook to get everything ready and then just use the tool for a single command database creation.  

*  Why Now?  Preparing these files establishes a standard workflow and allows for quick deployment of a prototype product prior to the ACS meeting on 26 Aug.

### Requirements

* Pandas 0.25.0

### Input / Output

*  The notebook should be in `solubility_parameters/notebooks`.  The input files are expected to be in `solubility_parameters/data_sources/db_file_source`.  The expected filenames are `polymers_raw.csv`, `solvents_raw.csv`, `substances_raw.csv`, `synonyms_raw.csv`, and `computed_hsp.csv`  

* The output files will be placed in `solubility_parameters/db_files` and include `polymers.csv`, `solvents.csv`,  `substances.csv`, and `substancenames.csv` -- the sqlite database will then have tables names `polymers`, `solvents`,  `substances`, and `substancenames`.

### Import / Set-Up

In [1]:
import pandas as pd
import re

In [2]:
polymers = pd.read_csv('../data_sources/db_file_source/polymers_raw.csv')
polymers.head()

,polymer_id,subst_name,common_name,acronym,trade_name,manufacturer,delta_d,delta_p,delta_h,R0,src_id
0,1,Acrylonitrile-butadiene elastomer,acrylonitrile rubber,ABR,Hycar 1052,BF Goodrich,18.6,8.8,4.2,9.6,3
1,2,Alcohol soluble resin,alcohol resin,NaN,Pentalyn 255,Hercules,17.6,9.4,14.3,10.6,3
2,3,Alcohol soluble resin,alcohol resin,NaN,Pentalyn 830,Hercules,20.0,5.8,10.9,11.7,3
3,4,"Alkyd, long oil,66% oil length",alkyd resin,AR,Plexal P65,Polyplex,20.4,3.4,4.6,13.7,3
4,5,"Alkyd, short oil, coconut oil 34% phthalic anh...",short alkyd resin,AR,Plexal C34,Polyplex,18.5,9.2,4.9,10.6,3

In [3]:
solvents = pd.read_csv('../data_sources/db_file_source/solvents_raw.csv')
solvents.head()

,Unnamed: 0,subst_name,synonym,casrn,N,Nh,role,delta_d,delta_p,delta_h,mol_vol,src_id,src_ref,boil_pt,flash_pt,chem21_safety,chem21_health,chem21_env,chem21_rank,prop_src_id
0,0,Acetic acid,Ethanoic acid,64-19-7,4,8,solvent,14.5,8.0,13.5,57.1,1,A1.5,118.0,39.0,3.0,7.0,3.0,2.0,2
1,1,Acetic anhydride,Acetyl acetate,108-24-7,7,13,solvent rx,16.0,11.7,10.2,94.5,1,A1.6,139.0,49.0,3.0,7.0,3.0,2.0,2
2,2,Acetone,Dimethyl ketone,67-64-1,4,10,solvent,15.5,10.4,7.0,74.0,1,A1.7,56.0,-18.0,5.0,3.0,5.0,1.0,2
3,3,Acetonitrile,Methyl cyanide,75-05-8,3,6,solvent,15.3,18.0,6.1,52.6,1,A1.10,82.0,2.0,4.0,3.0,3.0,2.0,2
4,4,Acetophenone,Acetylbenzene,98-86-2,9,17,solvent,19.6,8.6,3.7,117.4,1,A1.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
substances = pd.read_csv('../data_sources/db_file_source/substances_raw.csv')
substances.head()

   Unnamed: 0            subst_name    CASRN     id  Dup_Name_Flag
0           0   Monobutyl phthalate  34-74-2  34742           True
1           1  Dimethyltubocurarine  35-67-6  35676          False
2           2           Carotenoids  36-88-4  36884          False
3           3          Holothurin A  38-26-6  38266          False
4           4              Methanal  50-00-0  50000          False

In [5]:
synonyms = pd.read_csv('../data_sources/db_file_source/synonyms_raw.csv')
synonyms.head()

,Unnamed: 0,CASRN,Synonym,id,Dup_Name_Flag
0,0,34-74-2,Mono-n-butyl-phthalate,NaN,False
1,1,35-67-6,"Tubocuraranium, 6,6',7',12'-tetramethoxy-2,2',...",NaN,False
2,3,35-67-6,Dimethyltubocurarinium,NaN,False
3,4,35-67-6,Methyltubocurarinum,NaN,False
4,5,35-67-6,UNII-947TXZ810I,NaN,False

In [21]:
substance_hsp = pd.read_csv('../data_sources/db_file_source/computed_hsp.csv')
substance_hsp.head()

   nlm_num    delta_d   delta_p    delta_h  mol_vol
0    34742  14.694190  5.658041   5.733806    177.9
1    35676  14.882376  4.044078   6.119984    436.3
2    38266  15.248332  7.799518  14.371176    564.2
3    50022  14.554787  5.648185  11.127639    268.8
4    50033  14.284992  4.235616   9.246964    299.3

## Prepare files

### Polymers table

In [6]:
def compactify_name (long_form_name : str) -> str:
    '''Reduces a substance or polymer name to a shortened form that can be used for URLs or uniform queries.
    Compactified names have only [a-z][0-9] and omit "thermoplastic", "rubber", "resin", "elastomer", "plastic",
    and "polymer" '''
    temp_name = str(long_form_name).lower()
    temp_name = temp_name.replace(' thermoplastic','')
    temp_name = temp_name.replace(' resin','')
    temp_name = temp_name.replace(' rubber','')
    temp_name = temp_name.replace(' plastic','')
    temp_name = temp_name.replace(' elastomer','')
    temp_name = temp_name.replace(' polymer','')
    if len(temp_name) == 0:
        temp_name = 'too_generic'
    pattern = re.compile('[\W_]+', re.UNICODE)
    short_name = pattern.sub('',temp_name)
    return short_name

In [7]:
# Compactify names and make appropriate for web routes
polymers['poly_search_name'] = polymers['subst_name'].apply(compactify_name)
polymers['common_search_name'] = polymers['common_name'].apply(compactify_name)
polymers['acronym_search_name'] = polymers['acronym'].apply(compactify_name)
polymers['trade_search_name'] = polymers['trade_name'].apply(compactify_name)
polymers.head()

,polymer_id,subst_name,common_name,acronym,trade_name,manufacturer,delta_d,delta_p,delta_h,R0,src_id,poly_search_name,common_search_name,acronym_search_name,trade_search_name
0,1,Acrylonitrile-butadiene elastomer,acrylonitrile rubber,ABR,Hycar 1052,BF Goodrich,18.6,8.8,4.2,9.6,3,acrylonitrilebutadiene,acrylonitrile,abr,hycar1052
1,2,Alcohol soluble resin,alcohol resin,NaN,Pentalyn 255,Hercules,17.6,9.4,14.3,10.6,3,alcoholsoluble,alcohol,nan,pentalyn255
2,3,Alcohol soluble resin,alcohol resin,NaN,Pentalyn 830,Hercules,20.0,5.8,10.9,11.7,3,alcoholsoluble,alcohol,nan,pentalyn830
3,4,"Alkyd, long oil,66% oil length",alkyd resin,AR,Plexal P65,Polyplex,20.4,3.4,4.6,13.7,3,alkydlongoil66oillength,alkyd,ar,plexalp65
4,5,"Alkyd, short oil, coconut oil 34% phthalic anh...",short alkyd resin,AR,Plexal C34,Polyplex,18.5,9.2,4.9,10.6,3,alkydshortoilcoconutoil34phthalicanhydride,shortalkyd,ar,plexalc34

Now we want to match the table format, which is described as below (from app.py)

    class Polymers(db.Model):
        __tablename__= 'polymers'

        polymer_id = db.Column(db.Text, primary_key=True)
        subst_short_name = db.Column(db.String())
        subst_display_name = db.Column(db.String())
        delta_d = db.Column(db.Float())
        delta_p = db.Column(db.Float())
        delta_h = db.Column(db.Float())
        R0 = db.Dolumn(db.Float())
        src_id = db.Column(db.Integer)
    
 We want a unique id and subst_short_name, then the rest of the info.  As this is a relatively short table, 
 we will not worry about an efficient multi-table design for now, we will just repeat the info

Whaat we need to do is:  

1) Convert the substance name, trade name, and manufacturer into a single long-form name
2) Create separate entries for each search name with all the needed info
3) Remove any duplicates, drop nans, and reset index with name polymer_id

In [8]:
polymers['subst_display_name'] = polymers['subst_name'] + ' (' + polymers['trade_name'] + ', ' + polymers['manufacturer'] + ')'
polymers.head()

,polymer_id,subst_name,common_name,acronym,trade_name,manufacturer,delta_d,delta_p,delta_h,R0,src_id,poly_search_name,common_search_name,acronym_search_name,trade_search_name,subst_display_name
0,1,Acrylonitrile-butadiene elastomer,acrylonitrile rubber,ABR,Hycar 1052,BF Goodrich,18.6,8.8,4.2,9.6,3,acrylonitrilebutadiene,acrylonitrile,abr,hycar1052,"Acrylonitrile-butadiene elastomer (Hycar 1052,..."
1,2,Alcohol soluble resin,alcohol resin,NaN,Pentalyn 255,Hercules,17.6,9.4,14.3,10.6,3,alcoholsoluble,alcohol,nan,pentalyn255,"Alcohol soluble resin (Pentalyn 255, Hercules)"
2,3,Alcohol soluble resin,alcohol resin,NaN,Pentalyn 830,Hercules,20.0,5.8,10.9,11.7,3,alcoholsoluble,alcohol,nan,pentalyn830,"Alcohol soluble resin (Pentalyn 830, Hercules)"
3,4,"Alkyd, long oil,66% oil length",alkyd resin,AR,Plexal P65,Polyplex,20.4,3.4,4.6,13.7,3,alkydlongoil66oillength,alkyd,ar,plexalp65,"Alkyd, long oil,66% oil length (Plexal P65, Po..."
4,5,"Alkyd, short oil, coconut oil 34% phthalic anh...",short alkyd resin,AR,Plexal C34,Polyplex,18.5,9.2,4.9,10.6,3,alkydshortoilcoconutoil34phthalicanhydride,shortalkyd,ar,plexalc34,"Alkyd, short oil, coconut oil 34% phthalic anh..."

In [9]:
polymers_for_db = polymers[['poly_search_name','subst_display_name','delta_d','delta_p','delta_h','R0','src_id']]
polymers_for_db = polymers_for_db.rename(columns = {'poly_search_name':'subst_short_name'})
df_to_append = polymers[['common_search_name','subst_display_name','delta_d','delta_p','delta_h','R0','src_id']]
df_to_append = df_to_append.rename(columns = {'common_search_name':'subst_short_name'})
polymers_for_db = polymers_for_db.append(df_to_append)
df_to_append = polymers[['acronym_search_name','subst_display_name','delta_d','delta_p','delta_h','R0','src_id']]
df_to_append = df_to_append.rename(columns = {'acronym_search_name':'subst_short_name'})
polymers_for_db = polymers_for_db.append(df_to_append)
df_to_append = polymers[['trade_search_name','subst_display_name','delta_d','delta_p','delta_h','R0','src_id']]
df_to_append = df_to_append.rename(columns = {'trade_search_name':'subst_short_name'})
polymers_for_db = polymers_for_db.append(df_to_append)
polymers_for_db.tail()

,subst_short_name,subst_display_name,delta_d,delta_p,delta_h,R0,src_id
27,viplakrk50,"Polyvinyl chloride (Vipla KR, K=50, Montecatini)",18.2,7.5,8.3,3.5,3
28,desmophen850,"Saturated polyester (Desmophen 850, Bayer)",21.5,14.9,12.3,16.8,3
29,polysar5630,"Styrene-butadiene raw elastomer (Polysar 5630,...",17.6,3.4,2.7,6.6,3
30,piccolytes1000,"Terpene resin (Piccolyte S-1000, PIC)",16.5,0.4,2.8,8.6,3
31,pastopalh,"Urea-formaldehde resin (Pastopal H, BASF)",20.8,8.3,15.0,12.7,3

In [10]:
len(polymers_for_db)

128

In [11]:
polymers_for_db = polymers_for_db.drop_duplicates(subset=['subst_short_name'],keep='first')
print(len(polymers_for_db))
polymers_for_db.head()

108

,subst_short_name,subst_display_name,delta_d,delta_p,delta_h,R0,src_id
0,acrylonitrilebutadiene,"Acrylonitrile-butadiene elastomer (Hycar 1052,...",18.6,8.8,4.2,9.6,3
1,alcoholsoluble,"Alcohol soluble resin (Pentalyn 255, Hercules)",17.6,9.4,14.3,10.6,3
3,alkydlongoil66oillength,"Alkyd, long oil,66% oil length (Plexal P65, Po...",20.4,3.4,4.6,13.7,3
4,alkydshortoilcoconutoil34phthalicanhydride,"Alkyd, short oil, coconut oil 34% phthalic anh...",18.5,9.2,4.9,10.6,3
5,blockedphenolisocyanate,"Blocked phenol isocyanate (Suprasec F5100, ICI)",202.0,13.2,13.1,11.7,3

In [12]:
polymers_for_db[polymers_for_db['subst_short_name'] == 'nan']

,subst_short_name,subst_display_name,delta_d,delta_p,delta_h,R0,src_id
1,nan,"Alcohol soluble resin (Pentalyn 255, Hercules)",17.6,9.4,14.3,10.6,3

In [13]:
polymers_for_db = polymers_for_db[polymers_for_db['subst_short_name'] != 'nan']
print(len(polymers_for_db))
polymers_for_db.head()

107

,subst_short_name,subst_display_name,delta_d,delta_p,delta_h,R0,src_id
0,acrylonitrilebutadiene,"Acrylonitrile-butadiene elastomer (Hycar 1052,...",18.6,8.8,4.2,9.6,3
1,alcoholsoluble,"Alcohol soluble resin (Pentalyn 255, Hercules)",17.6,9.4,14.3,10.6,3
3,alkydlongoil66oillength,"Alkyd, long oil,66% oil length (Plexal P65, Po...",20.4,3.4,4.6,13.7,3
4,alkydshortoilcoconutoil34phthalicanhydride,"Alkyd, short oil, coconut oil 34% phthalic anh...",18.5,9.2,4.9,10.6,3
5,blockedphenolisocyanate,"Blocked phenol isocyanate (Suprasec F5100, ICI)",202.0,13.2,13.1,11.7,3

In [14]:
polymers_for_db = polymers_for_db.reset_index()
polymers_for_db = polymers_for_db.drop(columns = 'index')
polymers_for_db.index.names = ['polymer_id']
polymers_for_db.head()

,subst_short_name,subst_display_name,delta_d,delta_p,delta_h,R0,src_id
polymer_id,,,,,,,
0,acrylonitrilebutadiene,"Acrylonitrile-butadiene elastomer (Hycar 1052,...",18.6,8.8,4.2,9.6,3
1,alcoholsoluble,"Alcohol soluble resin (Pentalyn 255, Hercules)",17.6,9.4,14.3,10.6,3
2,alkydlongoil66oillength,"Alkyd, long oil,66% oil length (Plexal P65, Po...",20.4,3.4,4.6,13.7,3
3,alkydshortoilcoconutoil34phthalicanhydride,"Alkyd, short oil, coconut oil 34% phthalic anh...",18.5,9.2,4.9,10.6,3
4,blockedphenolisocyanate,"Blocked phenol isocyanate (Suprasec F5100, ICI)",202.0,13.2,13.1,11.7,3

In [15]:
polymers_for_db.to_csv('../db_files/polymers.csv')

### Solvents Table

For the solvents table, the final layout needs to be:

    class Solvents(db.Model):
        __tablename__= 'solvents'

        solvent_id = db.Column(db.Text, primary_key=True)
        nlm_num = db.Column(db.String())
        subst_display_name = db.Column(db.String())
        subst_category = db.Column(db.String())
        delta_d = db.Column(db.Float())
        delta_p = db.Column(db.Float())
        delta_h = db.Column(db.Float())
        mol_vol = db.Column(db.Float())
        src_id = db.Column(db.Integer)
        src_ref = db.Column(db.String())
        boil_pt = db.Column(db.Float())
        flash_pt = db.Column(db.Float())
        chem21_safety = db.Column(db.Integer)
        chem21_health = db.Column(db.Integer)
        chem21_env = db.Column(db.Integer)
        chem21_rank = db.Column(db.Integer)
        prop_src_id = db.Column(db.Integer())
        
Unlike the polymers table, users are not going to type a name to query (any informational queries would be handled by 
the substances table), so we do not need to worry about synonyms for these.  We just need to do the following:

1) Generate the nlm number
2) Generate a display name that includes a synonym to help the user identify
3) Ensure there are no duplicates
4) Remove / rename columns as needed

Note that the short name is not needed, since internally, we will use nlm numbers.

In [16]:
solvents['nlm_num'] = solvents['casrn'].str.replace('-','').astype('int')
solvents.head()

,Unnamed: 0,subst_name,synonym,casrn,N,Nh,role,delta_d,delta_p,delta_h,...,src_id,src_ref,boil_pt,flash_pt,chem21_safety,chem21_health,chem21_env,chem21_rank,prop_src_id,nlm_num
0,0,Acetic acid,Ethanoic acid,64-19-7,4,8,solvent,14.5,8.0,13.5,...,1,A1.5,118.0,39.0,3.0,7.0,3.0,2.0,2,64197
1,1,Acetic anhydride,Acetyl acetate,108-24-7,7,13,solvent rx,16.0,11.7,10.2,...,1,A1.6,139.0,49.0,3.0,7.0,3.0,2.0,2,108247
2,2,Acetone,Dimethyl ketone,67-64-1,4,10,solvent,15.5,10.4,7.0,...,1,A1.7,56.0,-18.0,5.0,3.0,5.0,1.0,2,67641
3,3,Acetonitrile,Methyl cyanide,75-05-8,3,6,solvent,15.3,18.0,6.1,...,1,A1.10,82.0,2.0,4.0,3.0,3.0,2.0,2,75058
4,4,Acetophenone,Acetylbenzene,98-86-2,9,17,solvent,19.6,8.6,3.7,...,1,A1.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98862

In [17]:
solvents['subst_display_name'] = solvents['subst_name'] + ' (' + solvents['synonym'] + ')'
solvents.head()

,Unnamed: 0,subst_name,synonym,casrn,N,Nh,role,delta_d,delta_p,delta_h,...,src_ref,boil_pt,flash_pt,chem21_safety,chem21_health,chem21_env,chem21_rank,prop_src_id,nlm_num,subst_display_name
0,0,Acetic acid,Ethanoic acid,64-19-7,4,8,solvent,14.5,8.0,13.5,...,A1.5,118.0,39.0,3.0,7.0,3.0,2.0,2,64197,Acetic acid (Ethanoic acid)
1,1,Acetic anhydride,Acetyl acetate,108-24-7,7,13,solvent rx,16.0,11.7,10.2,...,A1.6,139.0,49.0,3.0,7.0,3.0,2.0,2,108247,Acetic anhydride (Acetyl acetate)
2,2,Acetone,Dimethyl ketone,67-64-1,4,10,solvent,15.5,10.4,7.0,...,A1.7,56.0,-18.0,5.0,3.0,5.0,1.0,2,67641,Acetone (Dimethyl ketone)
3,3,Acetonitrile,Methyl cyanide,75-05-8,3,6,solvent,15.3,18.0,6.1,...,A1.10,82.0,2.0,4.0,3.0,3.0,2.0,2,75058,Acetonitrile (Methyl cyanide)
4,4,Acetophenone,Acetylbenzene,98-86-2,9,17,solvent,19.6,8.6,3.7,...,A1.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98862,Acetophenone (Acetylbenzene)

In [18]:
solvents = solvents.drop(columns = ['Unnamed: 0','N','Nh', 'subst_name', 'synonym','casrn'])
solvents = solvents.rename(columns = {'role':'subst_category'})
# Test for any duplicate nlm numbers
print(len(solvents))
print(solvents.nlm_num.nunique())
solvents.head()

136
136

,subst_category,delta_d,delta_p,delta_h,mol_vol,src_id,src_ref,boil_pt,flash_pt,chem21_safety,chem21_health,chem21_env,chem21_rank,prop_src_id,nlm_num,subst_display_name
0,solvent,14.5,8.0,13.5,57.1,1,A1.5,118.0,39.0,3.0,7.0,3.0,2.0,2,64197,Acetic acid (Ethanoic acid)
1,solvent rx,16.0,11.7,10.2,94.5,1,A1.6,139.0,49.0,3.0,7.0,3.0,2.0,2,108247,Acetic anhydride (Acetyl acetate)
2,solvent,15.5,10.4,7.0,74.0,1,A1.7,56.0,-18.0,5.0,3.0,5.0,1.0,2,67641,Acetone (Dimethyl ketone)
3,solvent,15.3,18.0,6.1,52.6,1,A1.10,82.0,2.0,4.0,3.0,3.0,2.0,2,75058,Acetonitrile (Methyl cyanide)
4,solvent,19.6,8.6,3.7,117.4,1,A1.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98862,Acetophenone (Acetylbenzene)

In [19]:
solvents_for_db = solvents[['nlm_num','subst_display_name','subst_category','delta_d','delta_p','delta_h','mol_vol',
                           'src_id','src_ref','boil_pt','flash_pt','chem21_safety','chem21_health','chem21_env',
                            'chem21_rank','prop_src_id']]
solvents_for_db.index.names = ['solvent_id']
solvents_for_db.head()

,nlm_num,subst_display_name,subst_category,delta_d,delta_p,delta_h,mol_vol,src_id,src_ref,boil_pt,flash_pt,chem21_safety,chem21_health,chem21_env,chem21_rank,prop_src_id
solvent_id,,,,,,,,,,,,,,,,
0,64197,Acetic acid (Ethanoic acid),solvent,14.5,8.0,13.5,57.1,1,A1.5,118.0,39.0,3.0,7.0,3.0,2.0,2
1,108247,Acetic anhydride (Acetyl acetate),solvent rx,16.0,11.7,10.2,94.5,1,A1.6,139.0,49.0,3.0,7.0,3.0,2.0,2
2,67641,Acetone (Dimethyl ketone),solvent,15.5,10.4,7.0,74.0,1,A1.7,56.0,-18.0,5.0,3.0,5.0,1.0,2
3,75058,Acetonitrile (Methyl cyanide),solvent,15.3,18.0,6.1,52.6,1,A1.10,82.0,2.0,4.0,3.0,3.0,2.0,2
4,98862,Acetophenone (Acetylbenzene),solvent,19.6,8.6,3.7,117.4,1,A1.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
solvents_for_db.to_csv('../db_files/solvents.csv')

### Substances Table

The intended output is designed as follows:

    class Substances(db.Model):
        __tablename__= 'substances'

        substance_id = db.Column(db.Text, primary_key=True)
        nlm_num = db.Column(db.String())
        subst_display_name = db.Column(db.String())
        subst_category = db.Column(db.String())
        delta_d = db.Column(db.Float())
        delta_p = db.Column(db.Float())
        delta_h = db.Column(db.Float())
        mol_vol = db.Column(db.Float())
        src_id = db.Column(db.Integer)
        
We will read in the substances table, then merge it with the computed HSP table.  The source_id for this is internal, which we label as "98"

In [21]:
substances_for_join = substances[['subst_name','id']]
substances_joined = substances_for_join.merge(solvents,left_on = 'id', right_on = 'nlm_num', how = 'left')
substances_joined.head()

,subst_name,id,subst_category,delta_d,delta_p,delta_h,mol_vol,src_id,src_ref,boil_pt,flash_pt,chem21_safety,chem21_health,chem21_env,chem21_rank,prop_src_id,nlm_num,subst_display_name
0,Monobutyl phthalate,34742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Dimethyltubocurarine,35676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Carotenoids,36884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Holothurin A,38266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Methanal,50000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
substances_joined[substances_joined['subst_category'] == 'solvent'].head()

,subst_name,id,subst_category,delta_d,delta_p,delta_h,mol_vol,src_id,src_ref,boil_pt,flash_pt,chem21_safety,chem21_health,chem21_env,chem21_rank,prop_src_id,nlm_num,subst_display_name
306,Glycerin,56815,solvent,17.4,12.1,29.3,73.3,1.0,A1.406,290.0,177.0,1.0,1.0,7.0,2.0,2,56815.0,"Glycerin (1,2,3-Propanetriol)"
351,"1,2-Propanediol",57556,solvent,16.8,9.4,23.3,73.6,1.0,A1.585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57556.0,"1,2-Propanediol (Trimethyl glycol)"
478,Diethyl ether,60297,solvent,14.5,2.9,5.1,104.8,1.0,A1.255,34.0,-45.0,10.0,3.0,7.0,4.0,2,60297.0,Diethyl ether (Ether)
606,Distilled spirits,64175,solvent,15.8,8.8,19.4,58.5,1.0,A1.325,78.0,13.0,4.0,3.0,3.0,1.0,2,64175.0,Distilled spirits (Absolute ethanol)
607,Formic acid,64186,solvent,14.3,11.9,16.6,37.8,1.0,A1.398,101.0,49.0,3.0,7.0,3.0,2.0,2,64186.0,Formic acid (Aminic acid)

In [23]:
# Drop the duplicate columns from the solvents table even though they have the 'right' names, they are mostly blank
substances_joined = substances_joined.drop(columns = ['nlm_num','subst_display_name'])
# Rename the columns from the substances table to the correct names now that the 'wrong' version is removed
substances_joined = substances_joined.rename(columns = {'subst_name':'subst_display_name','id':'nlm_num'})
substances_for_db = substances_joined[['nlm_num','subst_display_name','subst_category','delta_d','delta_p',
                                      'delta_h','mol_vol','src_id']]
substances_for_db.index.names = ['substance_id']
substances_for_db.head()

,nlm_num,subst_display_name,subst_category,delta_d,delta_p,delta_h,mol_vol,src_id
substance_id,,,,,,,,
0,34742,Monobutyl phthalate,NaN,NaN,NaN,NaN,NaN,NaN
1,35676,Dimethyltubocurarine,NaN,NaN,NaN,NaN,NaN,NaN
2,36884,Carotenoids,NaN,NaN,NaN,NaN,NaN,NaN
3,38266,Holothurin A,NaN,NaN,NaN,NaN,NaN,NaN
4,50000,Methanal,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
substances_for_db.to_csv('../db_files/substances.csv')

### Substance Names Table

The schema for this table is ...

    class Substance_names(db.Model):
        __tablename__= 'substancenames'

        substancename_id = db.Column(db.Text, primary_key=True)
        nlm_num = db.Column(db.String())
        subst_short_name = db.Column(db.String())
        
This table will be made from the union of substance and synonym names. For both, we need to generate short names. For synonyms, we need to convert CASRNs to NLM ids. The substances and synonyms tables have no duplicated names, but once these names are shortened, some duplicates may need to be removed.  Also, some synomyms may no longer refer to an entry in the primary substances table, these too should be removed.  

Also note that 'substances_for_join' already has been formed with the information we need to start, it just needs new column names.

In [25]:
# Gather needed data
substances_for_union = substances_for_join.rename(columns = {'id':'nlm_num'})
synonyms_for_union = synonyms[['Synonym','CASRN']]
# Generate proper id for synonyms
synonyms_for_union['nlm_num'] = synonyms_for_union['CASRN'].str.replace('-','').astype('int64')
synonyms_for_union = synonyms_for_union.rename(columns = {'Synonym':'subst_name'})
synonyms_for_union = synonyms_for_union.drop(columns = ['CASRN'])
substance_names = substances_for_union.append(synonyms_for_union)
print(len(substance_names))
substance_names.tail()

758037

C:\Users\andre\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

                                   subst_name     nlm_num
638194  anti-Lag-3 monoclonal antibody SYM022  2250088527
638195                                  AB122  2259860245
638196                                GLS-010  2259860245
638197                        UNII-ZBL7O904IL  2259860245
638198                               WBP-3055  2259860245

In [26]:
substance_names['subst_short_name'] = substance_names['subst_name'].apply(compactify_name)
substance_names.head()

             subst_name  nlm_num      subst_short_name
0   Monobutyl phthalate    34742    monobutylphthalate
1  Dimethyltubocurarine    35676  dimethyltubocurarine
2           Carotenoids    36884           carotenoids
3          Holothurin A    38266           holothurina
4              Methanal    50000              methanal

In [27]:
substance_names = substance_names.drop(columns = ['subst_name'])
substance_names = substance_names.drop_duplicates(subset=['subst_short_name'],keep='first')
print(len(substance_names))
substance_names.head()

728177

   nlm_num      subst_short_name
0    34742    monobutylphthalate
1    35676  dimethyltubocurarine
2    36884           carotenoids
3    38266           holothurina
4    50000              methanal

In [28]:
# Keep only those short_names with an nlm_num that is found in the substances table 
substance_num_list = substances_for_db.nlm_num.unique()
substance_names['keep'] = substance_names['nlm_num'].apply(lambda num: num in substance_num_list)
substance_names_retained = substance_names[substance_names['keep'] == True]
print(len(substance_names_retained))
substance_names_retained.head()

724115

   nlm_num      subst_short_name  keep
0    34742    monobutylphthalate  True
1    35676  dimethyltubocurarine  True
2    36884           carotenoids  True
3    38266           holothurina  True
4    50000              methanal  True

In [29]:
substance_names_retained = substance_names_retained.reset_index()
substance_names_retained = substance_names_retained.drop(columns = ['index','keep'])
substance_names_retained.index.names = ['substancename_id']
substance_names_retained.tail()

                     nlm_num                  subst_short_name
substancename_id
724110            2250088527                    unii7tq52fvc2l
724111            2250088527  antilag3monoclonalantibodysym022
724112            2259860245                            gls010
724113            2259860245                    uniizbl7o904il
724114            2259860245                           wbp3055

In [30]:
substance_names_retained.to_csv('../db_files/substancenames.csv')